ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2

LambdaBodyIndentation: OuterScope

AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: DontAlign
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignTrailingComments:
  Kind: Never

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: false

BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
AlwaysBreakTemplateDeclarations: true

ColumnLimit: 80
InsertNewlineAtEOF: true
EmptyLineBeforeAccessModifier: Always
InsertBraces: true
RemoveSemicolon: true
SpaceBeforeCpp11BracedList: true
FixNamespaceComments: false

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
SortUsingDeclarations: Lexicographic
